<div class="page" *ngIf="autorisation; else noautorisation">
    <div class="container">
    <div class="row">
       <div class="col-12 col-md-6">
           <div>
               <div class="user-photo" [ngStyle]="{'background-image':'url('+ user.userImgUrl +')'}">
               </div><h3 class="nickName-on-photo" (click)="logout()">{{user.name}}</h3>
           </div> 

           <hr>
           <h3>Кличка: {{user.name}} </h3>
           <h3>Статус: {{user.status}} </h3>
           <h3>Email: {{user.email}}</h3>
           <hr>
           <h2>
               Написано статтей: {{userPosts.length}}
           </h2>
           <hr>

           <div class="social-media">
               <i class="bi bi-twitter"></i>
               <i class="bi bi-facebook"></i>
               <i class="bi bi-instagram"></i>
               <i class="bi bi-pinterest"></i>
               <i class="bi bi-github"></i>
           </div>
       </div>

       <div class=" col-12 col-md-6"> 
            <h1>Статті користувача :</h1>
            <div class="user-posts">
                <app-post *ngFor="let i of userPosts" [item]="i"></app-post>
            </div>

       </div>
    </div>
</div>


</div>

<ng-template #noautorisation >
    <h1 class="noautorisation">Схоже, ви забули авторизуватися! Зробіть це тут <a href="" class="bi bi-person-workspace noautorisation" routerLink="news"></a></h1>
</ng-template>