
<div class="home-div">
    <img class="photo" src="https://www.kino-teatr.ru/acter/photo/2/4/2842/471897.jpg" alt="">
        <p class="p1">«Кіно зда­ва­ло­ся мені ми­с­тецтвом ви­со­ким і тон­ким».</p>
        <p class="p2">- І. Миколайчук</p>
        <p>15 червня 1941 року у селі Чорториї Кіцманського району Чернівецької області в сім’ї прохідника-залізничника народився Іван Миколайчук, видатний український кіноактор, сценарист, режисер та письменник, лауреат Шевченківської премії 1988 року (посмертно). Його називали «душею українського кіно», генієм сучасності, «народним» артистом через те, що його знали і любили мільйони, хоч від держави він мав звання лише «заслуженого».</p>
</div>